---

Checks: "*,
  -llvm*,
  -fuchsia*,
  -altera*,
  -boost*,
  -readability-identifier-length,
  -bugprone-chained-comparison"

HeaderFilterRegex: '^(?!.*/build/)(?!.*/\.cache/)(?!.*/_deps/).*(src|include|tests)/.*'
SystemHeaders: false
